*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar-header {
    width: 100%;
    height: 60px;
    padding: 29px 32px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(79deg, rgb(24, 105, 228),rgb(67, 153, 224),rgb(7, 7, 129));
    
}
.link {
    color: white;
    text-decoration: none;
    margin: 0px 20px;
}
.btn_input {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
}
.home_page_post {
    list-style: none;
    color: rgba(0, 0, 0, 0.76);
    text-decoration: none !important;
    list-style: none;
}
.center-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.post_text {
    padding: 4px;
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    line-clamp: 10;
    -webkit-line-clamp: 10; 
    text-overflow: ellipsis;
    text-align: justify;
}
.home_page_post {
    text-decoration: none; 
    color: inherit; 
}
  